<section class="socialsection">
    <a href="https://github.com/manojvaishnav" target="_blank"><i class="fa-brands fa-github" title="Git"></i></a>
    <a href="https://www.linkedin.com/in/manoj-vaishnav-b10723205" target="_blank"><i class="fa-brands fa-linkedin-in" title="LinkedIn"></i></a>
    <!-- <i class="fa-solid fa-circle-envelope"></i> -->
    <a href="https://wa.me/7300136910" target="_blank"><i class="fa-brands fa-whatsapp" title="Whatsapp"></i></a>
</section>